{
  "openapi": "3.0.0",
  "info": {
    "title": "User Profile",
    "version": "1.0",
    "description": "API for user profile"
  },
  "servers": [
    {
      "url": "https://ertiqatest.mahdi.cloud/api/myprofile"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "summary": "Get User Data",
        "tags": [
          "API"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "fullName": {
                      "type": "string"
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "gender": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "phoneNumber": {
                      "type": "string"
                    },
                    "avatar": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "stateID": {
                      "type": "string"
                    },
                    "userGroup": {
                      "type": "string"
                    },
                    "userGroupID": {
                      "type": "string"
                    },
                    "privileges": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-me",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ]
      }
    },
    "/changemypassword": {
      "post": {
        "summary": "Change User Password",
        "operationId": "post-changemypassword",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API"
        ],
        "description": "",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  },
                  "newPassword_Confirmation": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/changemyemail": {
      "post": {
        "summary": "Change User Email",
        "operationId": "post-changemyemail",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/changemyavatar": {
      "post": {
        "summary": "Change User Avatar",
        "operationId": "post-changemyavatar",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "attachment": {
                    "type": "string"
                  }
                },
                "required": [
                  "attachment"
                ]
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ],
        "description": ""
      }
    },
    "/changemyphonenumber": {
      "post": {
        "summary": "Change User Phonenumber",
        "operationId": "post-changemyphonenumber",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API"
        ]
      }
    },
    "/changenotfimethod": {
      "post": {
        "summary": "Change Notification Methods",
        "operationId": "post-changenotfimethod",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API"
        ],
        "description": "",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notiByEmail": {
                    "type": "boolean"
                  },
                  "notiByPhone": {
                    "type": "boolean"
                  },
                  "notiByWeb": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "notiByEmail",
                  "notiByPhone",
                  "notiByWeb"
                ]
              }
            }
          }
        }
      }
    },
    "/getnotfimethod": {
      "get": {
        "summary": "Get User Notification Methods",
        "tags": [
          "API"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notiByEmail": {
                      "type": "boolean"
                    },
                    "notiByPhone": {
                      "type": "boolean"
                    },
                    "notiByWeb": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-getnotfimethod",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ]
      }
    },
    "/getnotfifavorite": {
      "get": {
        "summary": "Get User Notification Favorite",
        "operationId": "get-getnotfifavorite",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "specialities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "sections": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "cities": [
                        "courses"
                      ],
                      "specialities": [
                        "docotr"
                      ],
                      "sections": [
                        "alahsa",
                        "aldammam",
                        "qatif"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ],
        "description": "",
        "tags": [
          "API"
        ]
      }
    },
    "/unsetnotfifavorite": {
      "post": {
        "summary": "Delete User Favorite Notification",
        "operationId": "post-unsetnotfifavorite",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "API"
        ],
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "favoriteID": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ]
      }
    },
    "/setnotfifavorites": {
      "post": {
        "summary": "Set Mass Favorites",
        "operationId": "post-setnotfifavorites",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cities": {
                      "type": "object"
                    },
                    "specialities": {
                      "type": "object"
                    },
                    "sections": {
                      "type": "object"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "cities": {
                        "alahsa": true,
                        "aldammam": true,
                        "qatif": true
                      },
                      "specialities": {
                        "nurse": true
                      },
                      "sections": {
                        "courses": true,
                        "replacement": true,
                        "sections": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "specialities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sections": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "cities",
                  "specialities",
                  "sections"
                ]
              }
            }
          }
        }
      }
    }
  }
}